<div *ngIf="!display">
    <button (click)="display=!display">Edit</button>
</div>

<div *ngIf="display">
<input #myTitle placeholder="job title"/>
<input type="date" #myDate/>
<input #myContent placeholder="job content"/>
<button (click)="editJob(myTitle.value,convertDate(myDate.value),myContent.value); myTitle.value='';myDate.value='';myContent.value=''">Edit</button>
<button (click)="display=!display">Cancel</button>
</div>